@font-face {
    font-family: Deafult;
    src: url("font/deafultFont.otf");
}
.nav-link.paddingnav {
    background-color: #4D869C;
    border-radius: 0.2em;
    margin: 0.1em;
}

body {
    background-color: #727272;
}


.navbar-brand.ime {
    font-size: 3em;
}

.catch {
    font-family: "Deafult", sans-serif;
}

.mainStuff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-overflow-scrolling: touch;
}

.cards {
    display: flex;
}

.card {
    flex: 0 0 auto; /* Prevent cards from growing */
    margin: 0 10px; /* Adjust spacing between cards */
    width: 18rem; /* Set card width */
}

.secondTxt {
    text-align: center;
}

.table {
    display: flex;

}




@media only screen and (max-width: 481px) {
    body {
        h1 {
            text-align: center;
        }
    }

    .row {
        flex-direction: column;
    }

    .card {
        margin-bottom: 2em;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }

      .scroll-container {
        justify-content: flex-start;
      }
}